<launch>

	<!-- Launch follower node -->
	<node pkg="opt_follow" type="follower" name="follower" output="screen" required="true">
    <param name="get_feature_only_start" value="false"/>	
		<param name="nro_only_start" value="10" />
		<param name="target_frames" value="5" />
		<param name="target_dist_thr" value="0.15" />
		<param name="training_factor" value="0.55" /> <!-- 0.55 -->
	</node>

</launch>
